<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>

    <h2>Index Page</h2>
    <a href="./view.html">View Users</a>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Name" id="">        
        <input type="text" name="age" placeholder="Age" id=""> 
        <input type="submit" value="Submit">       
    </form>
</body>
</html>